html, body, #root{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 600px;
    flex-grow: 1;

    text-align: center;
}
    #content > *{
        width: 100%;
    }

#title{
    width: 100%;
    margin: 0;
    padding: 0;

    border: #000 solid 1px;
    border-bottom: 0;
}
    #title img{
        width: 100%;
    }

#window{
    height: 400px;
    width: 100%;
    margin: 0;
    padding: 0;

    border: #000 solid 1px;
}

#input{
    height: 100px;
    width: 100%;
    margin: 0;
    margin-top: 15px;
    padding: 0;

    border: #000 solid 1px;
}